.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    /* box-shadow: 0px 0px 43px 17px rgba(153,153,153,1); */
    /* border: black solid 4px; */
    
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px;
    font-size: 25px;
    margin: 0px;
    border: solid;
    border-radius: 18px;

}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: solid;
    border-radius: 18px;

}

.button {
    border-radius: 18px;
    line-height: 80px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    margin: 2px;
}

#equal {
    background-color: rgb(85, 85, 255);
    color: white;
}

.button:hover {
    background-color: #323330;
    color: white;
    transition: 0.5s ease-in-out;
}
